<div class="flex content-center justify-center flex-wrap h-screen">
  <div class="text-center px-8 py-10 bg-white shadow-md rounded-xl w-4/12">
    <h1 class="text-3xl text-gray-700 pb-4">Upload your image</h1>
    <h2 class="text-md text-gray-500 pb-10">File should be Jpeg, Png,...</h2>
    <div class="flex flex-col justify-center content-center border-2 border-dashed border-blue-300 bg-gray-100 rounded-xl px-8 py-10">
      <%= image_pack_tag 'upload-placeholder.svg', class: 'mb-6' %>
      <p class="text-lg text-gray-500">Drag & Drop your image here</p>
    </div>

    <p class="text-gray-500 my-4">Or</p>
    <button id="submit" class="bg-blue-500 rounded-md text-white font-sans py-3 px-4">Choose a file</button>
  </div>
</div>