<div class="flex content-center justify-center flex-wrap h-screen">
  <div class="px-10 py-10 bg-white shadow-md rounded-xl w-4/12">
    <div class="flex flex-col justify-center content-center flex-wrap mb-3">
      <svg class="w-2/12 h-2/12 text-green-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
    </div>
    <h1 class="text-2xl text-gray-700 text-center mb-6">Uploaded Successfully!</h1>
    <%= image_tag root_url + @bucket.file_url, size: "800x500", alt: "Upload thumbnail", class: "rounded-xl mb-6" %>

    <div class="flex items-center">
      <%= text_field :bucket, :file_url, class: "w-full px-4 py-4 bg-gray-100 rounded-md border border-gray-500 focus:outline-none z-0 text-gray-500", :value => root_url + @bucket.file_url %>
      <button id="copy-clipboard" class="bg-blue-500 text-gray-200 px-5 py-2 rounded-lg shadow z-50" style="margin-left: -7.8rem;">Copy Link</button>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'clipboard', 'data-turbolinks-track': 'reload' %>